body {
    width: 990px;
    margin: 0 auto;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    line-height: 1.5;
    background: rgb(238, 248, 250);
    color:  rgb(70, 69, 69);
}
nav {
    margin: 0px;
}

ul {
    margin: 0px;
}

h1 {
    font-size: 3em;
}
footer {
    border-top: 1px solid #BBB;
    padding-top: 5px;
}
footer li a {
    text-decoration: none;
    text-align: center;
    color: rgb(70, 69, 69);
}

.top-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav a {
    display: block;
    padding: 15px 0px;
    margin-right: 1px;
    color: white;
    background: rgb(70, 69, 69);
    text-decoration: none;
    text-align: center;
}

header nav ul li {
	width: 25%;
	margin: 0;
	padding: 0;
}

.bottom-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer ul a {
    display: block;
    padding: 0 15px;
    margin-right: 1px;
}
.about-me {
    display: grid;
    grid-template-rows: 30px 370px;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #BBB;

}
.name {
 
}
.subheader-about {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}
.intro {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    margin-top: 60px;
}
.headshot {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    text-align: center;
    margin: 30px 0px 0px 30px;
    border: 3px solid white;
    border-radius: 30px;
}
.featured-work {
    margin-bottom: 15px;
}
.project1 {
    display: grid;
    grid-template-rows: 30px 370px;
    grid-template-columns: 1fr 1fr;
}
.project1 img {
    width: 384px;
    height: 240px;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    margin-top: 15px;
    border: 1px solid #BBB;
}
.project1 h2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
.project1 p {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin-top: 60px;
}
.project2 {
    
    display: grid;
    grid-template-rows: 30px 370px;
    grid-template-columns: 1fr 1fr;
}
.project2 img {
    width: 400px;
    height: 240px;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    margin-top: 20px;
    border: 1px solid #BBB;
}
.project2 h2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.project2 p {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-top: 60px;
    padding-right: 50px;
}
.footer-links {
    display: grid;
    grid-template-rows: 50x;
    grid-template-columns: 200px 1fr 250px;

}
#icons {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    color: rgb(70, 69, 69);
    padding-top: 15px;
}
#icons a {
    text-decoration: none;
    color: rgb(70, 69, 69);
    margin: 5px;
}